:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
    text-align: center;
}

#start {
    background-color: black;
    color: white;
    justify-content: center;
}

.head {
    background-color: blue;
    color: white;
    padding: 1em;
    width: 100%;
}

.startarrow {
    filter: invert(1);
    transform: rotate(90deg);
    position: absolute;
    bottom: 4em;
    scale: 2;
}

h1, h2, h3, h4 {
    font-size: xx-large;
}

.co {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bo {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 320px;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 1em;
}

.vi {
    position: absolute;
    top: 40%;
}

.es {
    background-color: rgb(238, 238, 238);
    width: 380px;
    height: 380px;
    position: absolute;
}

.ao {
    z-index: 1;
    border-radius: 1em 0em 0em 1em;
}

.vo {
    right: 300px;
}

.ea {
    display: flex;
    justify-content: space-around;
}

.job {
    overflow-y: auto;
    height: 380px;
    width: 200px;
}

#eaa {
    align-self: center;
    cursor: pointer;
}

.sc {
    position: relative;
    width: 800px;
    height: 700px;
    margin-bottom: 100px;
    bottom: 14%;
}

.hi {
    display: none;
}

#eaaa {
    cursor: pointer;
    align-self: center;
    transform: rotate(180deg);
}

.bo-c {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-y: auto;
}

.bo-lm, .bo-cv, .bo-rm {
    display: flex;
    flex-direction: column;
}